.DS_Store
debug*
datasets/
checkpoints/
tensorboard/
results/
build/
dist/
*.png
*.pkl
*.h5
*/*.h5
*/**/*.h5
*/**/__pycache__
*.pyc
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/**/**/*.pyc
*/**/**/**/**/*.pyc
*/*.so*
*/**/*.so*
*/**/*.dylib*
*~
